{% extends 'base.html.twig' %}

{% block title %}Edit Owned{% endblock %}

{% block body %}
    <h1>Edit Owned</h1>

    {{ include('admin/owned/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_owned_index') }}">back to list</a>

    {{ include('admin/owned/_delete_form.html.twig') }}
{% endblock %}
